<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Proof of Work</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <!--
    <script src="//unpkg.com/bsv"></script>
    <script src="//unpkg.com/txforge"></script>
    <script src="//unpkg.com/paypresto.js"></script>
    <script src="//unpkg.com/paypresto.js"></script>
    <script src="https://www.moneybutton.com/moneybutton.js"></script>
    <script src="https://one.relayx.io/relayone.js"></script>
    -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <script src="https://publish.boost.pow.co/publish.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <style>
#uploadFileDropZone {
  width: 100%;
  display: block;
  border: 1px solid #ccc;

}
    p {
      overflow: scroll;
    }

    video {
      max-width: 100%;
    }

    .markdown {
      max-height: 800px;
      overflow:scroll;
    }
  
    .nav-link {
      float:right;
      padding: 0.5em;
      margin-right:1em;
      text-decoration: underline;
    }

    .content-card {
      padding: 1em;
      border: 1px solid #ccc;
      margin-top: 1em;
      border-radius: 0.5em;
    }

    button.boost-content {
      float:right
    }

    .header {
    }

    .home-link {
      text-decoration: none;
      color: black;
    }

    /* Style the tab */
    .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      transition: 0.3s;
      color: black;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 2em; 
      border: 1px solid #ccc;
      border-top: none;
    }
    .tabcontent {
      animation: fadeEffect 1s; /* Fading effect takes 1 second */
    }

    /* Go from zero to full opacity */
    @keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
    }

    .twetch-user img.twetch-user-icon {

      width: 60px;
      border-radius:100%;

    }

    .view-on-twetch-button {
      float: right;
    }

    </style>

  </head>
  <body>
    <header>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <div>
  <div class='header'>
    <button class='boost-content'>+ Boost Content</button>
    <a class="nav-link" href="/jobs/mined">Recent Work</a>
    <a class="nav-link" href="/jobs/pending">Pending Jobs</a>
    <a class="nav-link" href="/">Rankings</a>
    <a class="home-link" href="/"><h1><img style="width:30px" src="https://doge.bitcoinfiles.org/63276afcc38dd807ca518eaafaf1544b53f76e9fb21846a6a17baad8b9a83555"><b>POW</b>CO</h1></a>
  </div>
     
        <%= @inner_content %>

      </div>

    </main>

        <script>
          $(document).ready(function() {

              $('button.boost-content').on('click', async (el) => {
                  const response = await boostPublish.open({
                    onPayment: (payment, boostJob) => {
                      console.log(payment, boostJob);
                    }
                  });
              })
          })
      </script>
  </body>
</html>
